.profile{
    position: relative;
}
.profileSide{
    position:relative;
    text-align: center;
    float:left;
    background:white;
    margin: 50px 0 0 2vw;
    width: 300px;
    min-height: 250px;
}
.profileSide h2{
    margin: 0 !important;
    width: 100%;
}
.profileSide img{
    width: 200px;
    padding: 10px;
    max-height:300px;
}
.profileSide button{
    margin:2px;
}
.updateModal button{
    background: green !important;
}
.profile button{
    margin-left: 2px;
}
.profileMain{
    position: relative;
    padding-right:5px;
    margin-top: 50px;
    margin-left:20px;
    float:left;
    width:60vw;
    min-width: 300px;
}
#profileHeader{
    border-bottom: 2px solid lightgrey;
}

#profileForum{
    border: 2px solid lightgrey;
    box-shadow: 1px 1px 1px;
    border-radius: 3px;
    margin:5px;
    padding-left:10px;
    padding-right:10px;
}
#profileForum p, h2{
    margin:1px;
    width: 90%;
}
#profileForum button{
    width: 81px;
    padding:2px;
    margin-left:2px;
    margin-top: 2px;
    margin-bottom: 3px;
}
#profileForum a{
    color:purple;
    text-decoration-line: none;
    word-wrap: break-word;
}
#profileForum a:hover{
    text-decoration-line: underline;
}
.modal1{
    text-align: center;
    background-color: white;
    position: fixed;
    z-index: 5;
    top:10px;
    left: 0;
    right: 0;
    margin-top:50px;
    margin-left: auto;
    margin-right: auto;
    width:300px;
    height:auto;
    border: 2px solid lightgrey;
    border-radius: 20px;
    box-shadow: 2px 2px 2px;
} 
.modal1 button{
    text-align: center;
}
.modalContent{
    margin:10px;
}
.xbtn{
    text-align: initial;
    margin: 0 0 0 220px;
}
#deleteHeader{
    margin: 10px;
    color:black
}
.tab-content{
    position: relative;
}
.nav-tabs{
    position:relative;
    z-index: 3;
}
#nav-link1{
    width: 25vw;
}
#nav-link1 h2{
    font-size: 2vw;
}
@media only screen and (max-device-width: 412px){
    #nav-link1 h2{
        font-size: 10pt;
    }
    
}
.profileCommentBtn button{
    float:right;
    margin: 2px;
    font-size: 10pt;
    padding: 0;
    width: 50px;
}
.profileForumBtn{
    float: right;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    width: 81px
}