.mainPage{
    position:relative;
    text-align: initial;
    max-width: 100vw;
    top: 50px;
    min-height:900px;
}

.jumbotron h1{
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: 10vw;
    color: black;
    margin:0;
    padding-top: 110px;
}
@media screen  and (max-width: 1020px){
    .jumbotron h1{
        font-size: 75pt;
    }
}
.homeForum{
    border: 2px solid lightgrey;
    margin:auto auto;
    color:black;
    box-shadow: 1px 1px 1px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 260px;
    margin-top:20px;
    padding:10px;
}

.homeForum p:hover{
    text-decoration-line: none;
}
.forumLink{
    margin:auto auto;
    color:black;
    max-width: 600px;
    margin-bottom: 20px;
}
.homeLink{
    text-decoration-line: none;
    word-wrap: break-word;
}
.homeLink:visited{
    text-decoration-line: none;
}

.homeLink:hover {
    text-decoration-line: none;
}

.homePageh3 {
    text-align: center;
}