.createForum{
    display: inline-block;
    margin-top:30px;
    border-top:2px solid grey;
    border-bottom:2px solid grey;
    background-color: #EEEEEE;
    border-radius: 5px;
    padding: 10px;
    width:90%;
    min-width: 300px;
}
.createForum button{
    text-align: center;
}

.form-group {
    padding:5px;
    margin-bottom: 0px !important;
}
.form-group select{
    padding:5px;
}
.bothGroups{
    margin: auto auto;
    width: 290px;
}
.collapseBtn{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    width: 100px;
}