.sideSearch{
    position:fixed;
    float:left;
    text-align: center;
    border: 2px solid grey;
    background-color: #EEEEEE;
    border-radius: 5px;
    width:20vw;
    min-width: 250px;
    height: 280px;
    padding-top:50px;
    margin-top:143px;
    margin-left:2vw;
}

@media screen and (max-width: 1063px){
    .sideSearch{
        text-align: center;
        float:left;
        position: relative;
        border: 2px solid grey;
        background-color: #EEEEEE;
        border-radius: 5px;
        width:20vw;
        min-width: 250px;
        height: 260px;
        padding-top:50px;
        margin-top:70px;
        margin-left:13vw;
    }
}

.sideSearch .form-control{
    padding: 5px;
    margin: auto auto;
    width: 200px;
}