.mainForum{
    text-align: center;
    position: relative;
    clear:both;
}
.mainForum a{
    text-decoration-line: none;
}
.mainForum a:hover{
    text-decoration-line: underline;
    color:purple;
}

.form-control {
    margin:0;
}
.forumPost{
    padding-left: 3vw;
}
.forumPost h2{
    margin-left: 0;
}
.forum{
    float: right;
    position: relative;
    margin-top:20px;
    margin: auto auto;
    padding-right: 5px;
    width:60vw;
    min-width: 300px;
}
@media screen and (max-width: 1063px){
    .forum{
        position: relative;
        padding-right:5px;
        margin-top: 50px;
        margin-left: 5vw;
        float:left;
        width:65vw;
        min-width: 300px;
    }
}
.forums{
    text-align: left;
    border: 2px solid grey;
    background-color: #EEEEEE;
    box-shadow: 1px 1px 1px;
    border-radius: 5px;
    margin-top:30px;
    padding:10px;
    min-width:300px;
}
.forums p, h3{
    margin:1px;
}
.forums a{
    color:purple;
    word-wrap: break-word;
}
#keywordp{
/* copy saved in profiletabs.css */
    font-size: 10pt;
    margin-bottom:15px !important;
    margin-left: 0px !important;
}

