.App {
  min-height:100vh;
}

.mainPage{
  position:relative;
  background: url('./assets/books.jpeg');
  background-attachment: fixed;
  /* background: #556B2F; */
  text-align: initial;
  margin-top:0;
  max-width: 100vw;
}

.mainPage a,input,label,p,textarea{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15pt;
}
.mainPage h1, h2, h3, h4 {
  font-family: 'Roboto Slab', serif;
}
.wrapper{
  top:-1px;
  padding-top:15px;
  padding-bottom:70px;
  margin:auto auto;
  position:relative;
  width:90vw;
 
  clear: both;
  overflow: auto;
}
.greenBtn {
  background-color: #67994D !important;
  border-color: #67994D;
}
.logoutBtn{
  color:white;
}
.logoutBtn:visited{
  color:white
}